---
title: Connect to GovWifi - GovWifi
description: Use your government or public sector email address to connect to GovWifi.
---

<div class="container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "Connect to GovWifi" } %>

  <div class="grid-row">
    <div class="column-one-third">
      <div>
        <%= partial 'shared/product/sidebar' %>
      </div>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">Connect to GovWifi</h1>
      <p>
        If you have a government or public sector organisation email address,
        you need to sign up to get your unique username and password.
      </p>
      <p>
        You can check if your <%= link_to "government or public sector organisation email address",
        "/support/check-organisation-email-address" %> is eligible for GovWifi.
      </p>
      <p>
        Before using GovWifi, please read and accept our <%= link_to "privacy notice", "/privacy-notice" %> and <%= link_to "terms and conditions", "/terms-and-conditions" %>.
      </p>
      <div>
        <h2>Get Started</h2>
        <p>You will need to use your government or public sector organisation email address to:</p>
        <ul class="list list-bullet">
          <li>send a blank email to <%= link_to "signup@wifi.service.gov.uk", "mailto:signup@wifi.service.gov.uk" %></li>
          <li>leave the subject line blank</li>
        </ul>
      </div>
      <p>We will email your username and password in reply.</p>
      <p>Once you’re set up, you can use the same username and password on all the devices you connect to GovWifi.</p>
      <p>
        If you experience any problems connecting to GovWifi for the first time, please review our <%= link_to "support guides", "/support" %>.
      </p>
      <div class="govuk-inset-text">
        <%= link_to "Connect to GovWifi without a government or public sector email address", "/support/visitor-access-to-govwifi", class: "bold" %>
      </div>
    </div>
  </div>
</div>
