---
title: Connect to GovWifi - GovWifi
description: Use your public sector staff email address to connect devices to GovWifi.
---

<div class="container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "Connect to GovWifi" } %>

  <div class="grid-row">
    <div class="column-one-third">
      <div>
        <%= partial 'shared/product/sidebar' %>
      </div>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">Connect a device to GovWifi</h1>
      <p>
        You need a <%= link_to "public sector staff email address",
        "/support/check-organisation-email-address" %> to sign up for a GovWifi account.
      </p>
      <p>
        If you do not have a public sector staff email address, you can <%= link_to "connect to GovWifi as a visitor",
        "/support/visitor-access-to-govwifi" %>.
      </p>
      <div class="govuk-inset-text">
        If you manage IT services in a public sector organisation and would like to make GovWifi available in your buildings, please review our <%= link_to "network administrator guidance", "https://docs.wifi.service.gov.uk/"%>.  
      </div>
      <div>
        <h2>1. Sign up for a GovWifi account</h2>
        <p>Create a GovWifi account by using your public sector staff email address to:</p>
        <ul class="list list-bullet">
          <li>send a blank email to <%= link_to "signup@wifi.service.gov.uk", "mailto:signup@wifi.service.gov.uk" %></li>
          <li>leave the subject line blank</li>
        </ul>
      </div>
      <p>We will email your username and password confirmation in reply.</p> 
      <p>If you do not receive the username and password confirmation e-mail within a few minutes of signing up, please check your spam/junk e-mail folder.</p>
 	   <div>
        <h2>2. Connect your device to GovWifi</h2>
      <p>By connecting to GovWifi, you accept our <a href="https://www.wifi.service.gov.uk/privacy-notice">privacy notice</a> and <a href="https://www.wifi.service.gov.uk/terms-and-conditions">terms and conditions</a>.</p>
      <p> When you are in a <%= link_to "organisation that offers GovWifi","/about-govwifi/organisations-using-govwifi" %>, follow the steps below to connect your device:</p>
        <ul class="list list-bullet">
          <li>go to your device wifi settings and select GovWifi.</li>
		  <li>enter the GovWifi username and password you received by email.</li>
		  <li>your password is case sensitive. It’s 3 words without spaces. The first letter of each word is capitalised.</li>
		  <li>you can use the same username and password on all the devices you connect to GovWifi.</li> 
        </ul>
      </div>
      <p>
        Please review our <a href="https://www.wifi.service.gov.uk/support">support guides</a> for device specific instructions.
      </p>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "HowTo",
  "name": "Connect to GovWifi",
  "description": "Use your UK public sector staff email address to connect to GovWifi.",
    "totalTime": "PT10M",
    "supply": [
    {
      "@type": "HowToSupply",
      "name": "UK Public sector staff email address required"
    }
  ],
  "tool": [
    {
      "@type": "HowToTool",
      "name": "UK Public sector staff email address required"
    }
  ],
  
  "step": [
    {
      "@type": "HowToStep",
      "url": "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
      "name": "Sign up for a GovWifi account",
      "itemListElement": [
        {
          "@type": "HowToDirection",
          "text": "Use your public sector staff email address to send a blank email to signup@wifi.service.gov.uk"
        },
        {
          "@type": "HowToDirection",
          "text": "Leave the email subject line blank."
        }
   ],
   "image": {
        "@type": "ImageObject",
        "url": "https://www.wifi.service.gov.uk/images/Product-illustration.png",
        "height": "581",
        "width": "488"
      }
    },
    {
      "@type": "HowToStep",
      "name": "Receive GovWifi username and password",
      "url": "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
      "itemListElement": [
        {
          "@type": "HowToTip",
          "text": "You will receive an email with your GovWifi username and password."
        },
        {
          "@type": "HowToTip",
          "text": "Please check your spam/junk mail folder if you haven't received the email."
        }
   ],
   "image": {
        "@type": "ImageObject",
        "url": "https://www.wifi.service.gov.uk/images/Product-illustration.png",
        "height": "581",
        "width": "488"
      }
    },
    {
      "@type": "HowToStep",
      "name": "Connect to GovWifi",
      "url": "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
      "itemListElement": [
        {
          "@type": "HowToDirection",
          "text": "When you are in a public sector building that offers GovWifi, go to your device wifi settings and select GovWifi."
        },
        {
          "@type": "HowToDirection",
          "text": "Enter the GovWifi username and password you received by email to connect to the network."
        },
        {
          "@type": "HowToDirection",
          "text": "Review our support guides for additional device specific instructions: https://www.wifi.service.gov.uk/support"
        }
    ],
    "image": {
        "@type": "ImageObject",
        "url": "https://www.wifi.service.gov.uk/images/Product-illustration.png",
        "height": "581",
        "width": "488"
      }
    }
  ]
}
</script>
