---
title: Connect to GovWifi - GovWifi
description: Use your government or public sector email address to connect to GovWifi.
---

<div class="container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "Connect to GovWifi" } %>

  <div class="grid-row">
    <div class="column-one-third">
      <div>
        <%= partial 'shared/product/sidebar' %>
      </div>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large">Connect to GovWifi</h1>
      <p>
        You need a <%= link_to "government or public sector organisation email address",
        "/support/check-organisation-email-address" %>, to sign up to get your unique username and password for GovWifi.
      </p>
      <p>
        By connecting to GovWifi, you accept our <%= link_to "privacy notice", "/privacy-notice" %> and <%= link_to "terms and conditions", "/terms-and-conditions" %>.
      </p>
      <div>
        <h2>Get Started</h2>
        <p>You will need to use your government or public sector organisation email address to:</p>
        <ul class="list list-bullet">
          <li>send a blank email to <%= link_to "signup@wifi.service.gov.uk", "mailto:signup@wifi.service.gov.uk" %></li>
          <li>leave the subject line blank</li>
        </ul>
      </div>
      <p>We will email your username and password confirmation in reply. If you do not receive the confirmation message within a few minutes of signing up, please check your spam/junk e-mail folder.</p>
      <p>Once you’re set up, you can use the same username and password on all the devices you connect to GovWifi.</p>
      <p>
        If you experience any problems connecting to GovWifi for the first time, please review our <%= link_to "support guides", "/support" %>.
      </p>
      <div class="govuk-inset-text">
        <%= link_to "Connect to GovWifi without a government or public sector email address", "/support/visitor-access-to-govwifi", class: "bold" %>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "HowTo",
  "name": "Connect to GovWifi",
  "description": "Use your government or public sector email address to connect to GovWifi.",
  "requirements": [{
    "@type": "HowToTool",
    "name": "Government or public sector email address"
  }],
  "step": [
    {
      "@type": "HowToStep",
      "url": "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
      "name": "Sign up for GovWifi account",
      "itemListElement": [
        {
          "@type": "HowToDirection",
          "text": "Use your government or public sector email address to send a blank email to signup@wifi.service.gov.uk."
        },
        {
          "@type": "HowToDirection",
          "text": "Leave the email subject line blank."
        }
      ]
    },
    {
      "@type": "HowToStep",
      "name": "Receive GovWifi instructions",
      "url": "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
      "itemListElement": [
        {
          "@type": "HowToTip",
          "text": "You will receive an email with your GovWifi username and password."
        },
        {
          "@type": "HowToDirection",
          "text": "Please check your spam/junk mail folder if you haven't received the email."
        }
      ]
    },
    {
      "@type": "HowToStep",
      "name": "Update your device wifi settings",
      "url": "https://www.wifi.service.gov.uk/about-govwifi/connect-to-govwifi/",
      "itemListElement": [
        {
          "@type": "HowToDirection",
          "text": "Once you have your GovWifi username and password, go to your wifi settings and select GovWifi."
        },
        {
          "@type": "HowToDirection",
          "text": "Enter the GovWifi username and password you received by email."
        },
        {
          "@type": "HowToDirection",
          "text": "Follow our support guide for additional device specific instructions https://www.wifi.service.gov.uk/support"
        }
      ]
    }
  ],
  "totalTime": "PT10M"
}
</script>
