<p>Follow these instructions to connect your Apple iOS device to GovWifi.</p>

<%= partial "troubleshooting/shared/instructions_header" %>

<p>
  Step 1 - Go to wifi settings and select <strong>GovWifi</strong>.
</p>
<div class="d-flex justify-content-center">
  <%= image_tag "troubleshooting/ios-step-1.png" %>
</div>

<p>
  Step 2 - Enter the GovWifi username and password you received by email or text
  message.

  Your password is case sensitive. It’s 3 words without spaces. The first letter
  of each word is capitalised.
</p>

<p>
  Step 3 - You’ll be asked to confirm that the network presents the correct
  certificate. This protects you against fake networks which may harm your
  privacy.

  The correct certificate is shown below. It’s called
  <strong>wifi.service.gov.uk</strong> and is issued by
  <strong>GeoTrust DV SSL SHA256 CA</strong>.
</p>
<div class="d-flex justify-content-center">
  <%= image_tag "troubleshooting/ios-step-3.png" %>
</div>

<p>
  Step 4 - Select <strong>More Details</strong> and scroll down.
</p>
<div class="d-flex justify-content-center">
  <%= image_tag "troubleshooting/ios-step-4.png" %>
</div>

<p class="govuk-body govuk-!-margin-top-7">
  Step 5 - Check that the SHA-1 Fingerprint matches
  <strong>76 29 76 AA 3D CE A8 5C D8 3D 72 0A B8 10 32 93 74 A5 15 5A</strong>.
</p>
<div class="d-flex justify-content-center">
  <%= image_tag "troubleshooting/ios-step-5.png" %>
</div>

<p>
  Step 6 - Select <strong>< Certificate</strong> in the top left to go back to
  the previous screen.
</p>

<p>
  Step 7 - Select <strong>Trust</strong> in the top right to connect to GovWifi.
</p>

<p>
  You should now be connected to GovWifi.
</p>
