<p>
  If your device was made before October 2016, you’re probably running the
  BlackBerry operating system (OS). Follow these instructions to connect to GovWifi.
</p>

<%= partial "troubleshooting/shared/instructions_header" %>

<p>
  Step 1 - Open your wifi settings. A list of wifi networks appears.
</p>

<p>
  Step 2 - Select <strong>GovWifi</strong>. A settings menu appears.
</p>
<%= image_tag "troubleshooting/blackberry-step-2.png", class: "img-fluid" %>

<p>
  Step 3 - Enter the username and password you received by email or text.
</p>

<p>
  Step 4 - Select <strong>Advanced Options</strong>
</p>
<%= image_tag "troubleshooting/blackberry-step-4.png", class: "img-fluid" %>

<p>
  Step 5 - Scroll down. For <strong>Security Sub Type</strong>, select
  <strong>PEAP</strong>.
</p>
<%= image_tag "troubleshooting/blackberry-step-5.png", class: "img-fluid" %>

<p>
  Step 6 - For <strong>CA Certificate</strong>, select the third listing for
  <strong>GeoTrust Primary Certification Authority</strong>.
</p>
<%= image_tag "troubleshooting/blackberry-step-6.png", class: "img-fluid" %>

<p>
  Step 7 - Select <strong>Connect</strong> on the top right of the screen.
</p>

<p>
  You should now be connected to GovWifi.
</p>

<p>
  <strong>Support</strong>
</p>

<p>
  You may get a message that says ‘Wi-Fi Connection Status, Attempt 1 of 3,
  Connecting to network’ and another that says ‘Acquiring IP address’.
  You don’t need to do anything.

  <%= image_tag "troubleshooting/blackberry-step-7-a.png", class: "img-fluid" %>
  <%= image_tag "troubleshooting/blackberry-step-7-b.png", class: "img-fluid" %>
</p>

<p>
  <strong>BlackBerry Android</strong>
  If your BlackBerry device uses Android, follow the Android instructions.
</p>
