<p class="govuk-body">
  If your device was made before October 2016, you’re probably running the
  BlackBerry operating system (OS). Follow these instructions to connect to GovWifi.
</p>

<h2>Instructions</h2>
<p class="govuk-body">
  Once you have a username and password, follow the steps below. Depending on
  your device, you may need to scroll down to see all the fields.
</p>

<p class="govuk-body">
  Step 1 - Open your wifi settings. A list of wifi networks appears.
</p>

<p class="govuk-body">
  Step 2 - Select GovWifi. A settings menu appears.
</p>
<%= image_tag "troubleshooting/blackberry-step-2.png", class: "img-fluid" %>

<p class="govuk-body">
  Step 3 - Enter the username and password you received by email or text.
</p>

<p class="govuk-body">
  Step 4 - Select Advanced Options
</p>
<%= image_tag "troubleshooting/blackberry-step-4.png", class: "img-fluid" %>

<p class="govuk-body">
  Step 5 - Scroll down. For Security Sub Type, select PEAP
</p>
<%= image_tag "troubleshooting/blackberry-step-5.png", class: "img-fluid" %>

<p class="govuk-body">
  Step 6 - For CA Certificate, select the third listing for GeoTrust Primary
  Certification Authority
</p>
<%= image_tag "troubleshooting/blackberry-step-6.png", class: "img-fluid" %>

<p class="govuk-body">
  Step 7 - Select Connect on the top right of the screen.
</p>

<p class="govuk-body">
  You should now be connected to GovWifi.
</p>

<p class="govuk-body">
  <strong>Support</strong>
</p>

<p class="govuk-body">
  You may get a message that says ‘Wi-Fi Connection Status, Attempt 1 of 3,
  Connecting to network’ and another that says ‘Acquiring IP address’.
  You don’t need to do anything.

  <%= image_tag "troubleshooting/blackberry-step-7-a.png", class: "img-fluid" %>
  <%= image_tag "troubleshooting/blackberry-step-7-b.png", class: "img-fluid" %>
</p>

<p class="govuk-body">
  <strong>BlackBerry Android</strong>
  If your BlackBerry device uses Android, follow the Android instructions.
</p>
