---
title: Check your organisation email address

tags:

description: Help and support connecting to GovWifi
---

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= partial 'shared/support/sidebar' %>
    </div>
    <div class="column-two-thirds">
      <h1>Check your organisation email address</h1>
      <p>You can <%= link_to "signup to GovWifi", "#", class: "govuk-link" %>
        using your government or public sector email address
      </p>
      <p>If you don't have a government or public sector email address, you can
        <%= link_to "connect to GovWifi as a visitor", "#", class: "govuk-link" %>
      </p>
      <p>You can check to see if your organisation email is eligible below:</p>
      <div class="govuk-form-group">
        <input style="margin-bottom:20px;" class="govuk-input" id="search-table" type="text" placeholder="Search email domains">
      </div>

      <% email_domains = ["police.uk", "nhs.uk", "cjsm.net", "nhs.net", "ejudiciary.net", "hmcts.net", "wmfs.net", "highwaysengland.co.uk", "deltservices.co.uk", "ukfi.co.uk","uksbs.co.uk",
      "slc.co.uk", "cefas.co.uk", "located.co.uk", "visitbritain.org", "nibsc.org", "visitengland.org", "ukri.org", "kent.fire-uk.org", "xentrall.org.uk", "naturalengland.org.uk",
      "sepa.org.uk", "nestcorporation.org.uk", "lgo.org.uk", "ukgi.org.uk", "marinemanagement.org.uk", "nao.org.uk", "socialworkengland.org.uk", "catered.org.uk", "acas.org.uk",
      "royalmint.com", "oilandpipelines.com", "srswales.com", "govfsl.com", "bbsrc.ac.uk", "ahrc.ac.uk", "epsrc.ac.uk", "esrc.ac.uk", "nerc.ac.uk", "stfc.ac.uk", "jrs.ac.uk","rcuk.ac.uk",
      "ukri.ac.uk", "headoffice.mrc.ac.uk", "mrc.ac.uk", "nchsr.ac.uk", "gov.scot", "forestryengland.uk", "gov.uk", "madetech.com", "derbyhomes.org", "northyorkshire.pnn.police.uk",
      "theccc.org.uk", "dudleymbc.org.uk"] %>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-half">Organisation email domain name</th>
          </tr>
          <p class="govuk-body" id="no-results" style="display: none">
            <strong>No results found</strong>
          </p>
        </thead>
        <tbody class="govuk-table__body">
          <% email_domains.each do |email| %>
            <tr class="govuk-table__row result-row">
              <td class="govuk-table__cell govuk-!-width-one-half" scope="row">
                <%= '@'+email %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= partial 'shared/support/dynamic-search-bar' %>
