---
title: Connect to GovWifi using a Windows device - GovWifi
description: Follow these instructions to connect your Windows device to GovWifi
---

<div class="govuk-width-container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "Connect a Windows device" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial '/shared/support/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect to GovWifi using a Windows device</h1>
        <p class="govuk-body">Different versions of Windows work in slightly different ways. If you don't know which version of Windows your device is running, read <%= link_to "Microsoft's guidance", "https://support.microsoft.com/en-gb/help/13443/windows-which-operating-system", class: "govuk-link" %>.</p>

        <h2 class="govuk-heading-m">Contents</h2>

        <ul class="govuk-list">
          <li><%= link_to "Connect using Windows 8 or 10", "#connect-windows-8", class: "govuk-link" %></li>
          <li><%= link_to "Support for Windows 8 and 10", "#support-windows-8", class: "govuk-link" %></li>
          <li><%= link_to "Connect using Windows 7", "#connect-windows-7", class: "govuk-link" %></li>
          <li><%= link_to "Support for Windows 7", "#support-windows-7", class: "govuk-link" %></li>
        </ul>

        <h3 class="govuk-heading-m" id="connect-windows-8">Connect using Windows 8 or 10</h3>

        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %>, follow the steps below.</p>
        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Select the wifi icon in the system tray at the bottom right of your screen. You'll see all the nearby wifi networks.</p>
            <%= image_tag "troubleshooting/windows-step-1.jpg", class: "img-fluid", alt: "Screenshot of WiFi panel in Windows 8/10" %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>GovWifi.</strong></p>
          </li>
          <li>
            <p class="govuk-body">
              Select <strong>Connect</strong>.
            </p>
            <%= image_tag "troubleshooting/windows-step-3.jpg", class: "img-fluid", alt: "Screenshot of Wifi panel with credentials open on Windows 8/10" %>
            <p class="govuk-inset-text">
              If it says <strong>"can't connect to network"</strong>, your device may have an incorrect or expired
              username and password for GovWifi or may be expecting an older certificate. To fix this issue, follow
              the <%= link_to "instructions to forget the network", "#forget", class: "govuk-link" %> and then try
              again.</p>
          </li>
          <li>
            <%= partial 'shared/copy/password_instructions' %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>OK.</strong></p>
            <%= image_tag "troubleshooting/windows-step-5.jpg", class: "img-fluid", alt: "Screenshot of Wifi panel confirmation on Windows 8/10" %>
          </li>
          <li>
            <p class="govuk-body">When you see <strong>Continue connecting</strong>, select <strong>Show certificate details.</strong></p>
          </li>
          <li>
            <p class="govuk-body">Check that the <strong>Server thumbprint</strong> matches: </p>
            <p class="govuk-body"><strong>37 CE B5 7A 3F 38 EB 7C 66 A2 4E 90 BB 11 71 D7 BC 4D 65 1A</strong></p>
          </li>
          <li>
            <p class="govuk-body">If it matches, select <strong>Connect</strong>.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>

        <h2 class="govuk-heading-m" id="support-windows-8">Support for Windows 8 and 10</h2>
        <h3 class="govuk-heading-s" id="forget">Forget the network</h3>

        <p class="govuk-body">If your device says it <strong>can't connect to network</strong>, it may be trying to
          connect with an incorrect or expired username and password for GovWifi or may be expecting an older
          certificate. You need to tell your device to forget your GovWifi connection.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Go to <strong>Settings, WiFi</strong> and select <strong>Manage known networks.</strong></p>
            <%= image_tag "troubleshooting/windows-8-step-1.jpg", class: "img-fluid", alt: "Screenshot of WiFi Settings on Windows 8/10" %>
          </li>

          <li>
            <p class="govuk-body">Select <strong>GovWifi.</strong></p>
            <%= image_tag "troubleshooting/windows-8-step-2.jpg", class: "img-fluid", alt: "Screenshot of known networks panel on Windows 8/10" %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Forget.</strong></p>
          </li>
        </ol>
        <h3 class="govuk-heading-s">Check your website access</h3>
        <p class="govuk-body">If GovWifi doesn't let you access websites which you'd normally be able to access, follow the <%= link_to "instructions to forget the network", "#forget", class: "govuk-link" %> and reconnect.</p>

        <h2 class="govuk-heading-m" id="connect-windows-7">Connect using Windows 7</h2>

        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %>, follow the steps below.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Open the <strong>Control Panel</strong>, and select <strong>Network and Sharing Center</strong>.</p>
            <%= image_tag "troubleshooting/windows-7-step-1.jpg", class: "img-fluid", alt: "Screenshot of the Control Panel's network settings on Windows 7" %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Set up a new connection or network</strong>.</p>
            <%= image_tag "troubleshooting/windows-7-step-2.jpg", class: "img-fluid", alt: "Screenshot of Connection Setup Wizard on Windows 7" %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Manually connect to a wireless network</strong>.</p>
            <%= image_tag "troubleshooting/windows-7-step-3.jpg", class: "img-fluid", alt: "Screenshot of manual WiFi connection panel on Windows 7" %>
          </li>
          <li>
            <p class="govuk-body">For the <strong>Network name</strong>, enter <strong>GovWifi</strong> and for the <strong>Security type</strong>, select <strong>WPA2-Enterprise</strong>. The network name is case sensitive so make sure you enter capital G and capital W.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Next.</strong></p>
            <%= image_tag "troubleshooting/windows-7-step-5.jpg", class: "img-fluid", alt: "Screenshot of successfull WiFi addition on Windows 7" %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Change connection settings.</strong></p>
            <%= image_tag "troubleshooting/windows-7-step-6.jpg", class: "img-fluid", alt: "Screenshot of network properties dialog on Windows 7" %>
          </li>

          <li>
            <p class="govuk-body">Select the <strong>Security</strong> tab and select <strong>Settings</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">Tick the <strong>Connect to these servers box</strong>. In the text box below it, enter <strong>wifi.service.gov.uk</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">In the <strong>Trusted Root Certification Authorities</strong> list, select <strong>DigiCert Global Root CA</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">Tick <strong>Enable Identity Privacy</strong> and enter <strong>anonymous</strong> to prevent your device from broadcasting your GovWifi username.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Configure.</strong></p>
            <%= image_tag "troubleshooting/windows-7-step-11.jpg", class: "img-fluid", alt: "Screenshot of Identity Privacy settings on Windows 7" %>
          </li>
          <li>
            <p class="govuk-body">Untick <strong>Automatically use my Windows logon name</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>OK</strong>, then <strong>OK</strong> again to go back to the <strong>GovWifi Wireless Network Properties</strong> window.</p>
            <%= image_tag "troubleshooting/windows-7-step-13.jpg", class: "img-fluid", alt: "Screenshot of network properties dialog on Windows 7" %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Advanced settings</strong>.</p>
            <%= image_tag "troubleshooting/windows-7-step-14.jpg", class: "img-fluid", alt: "Screenshot of Advanced Connection Settings panel on Windows 7" %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>User authentication</strong> from the dropdown menu under <strong>Specify authentication mode</strong>, then select <strong>Save credentials</strong>.</p>
            <%= image_tag "troubleshooting/windows-7-step-15.jpg", class: "img-fluid", alt: "Screenshot of Save Credentials dialog on Windows 7" %>
          </li>

          <li>
            <%= partial 'shared/copy/password_instructions' %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>OK</strong> to close all windows.</p>
          </li>
          <li>
            <p class="govuk-body">Select the wifi logo at the bottom right of your screen and select <strong>GovWifi</strong>.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>

        <h2 class="govuk-heading-m" id="support-windows-7">Support for Windows 7</h2>
        <p class="govuk-body">If you can't see 'DigiCert Global Root CA' in the Trusted Root Certification Authorities list you might not have the right certificate installed on your device. If you manage your own device, you can download it from the web.</p>
        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">In your web browser, navigate
              to: <%= link_to "https://www.digicert.com/digicert-root-certificates.htm", "https://www.digicert.com/digicert-root-certificates.htm", class: "govuk-link long-link" %>
              and select Download under 'DigiCert Global Root CA'. Save the file to the C: drive</p>
          </li>
          <li>
            <p class="govuk-body">To install the certificate from the Command Prompt, go to your start menu, select 'Accessories' and right click on 'Command Prompt'. Choose 'Run as administrator'.</p>
          </li>
          <li>
            <p class="govuk-body">Copy (Ctrl + v) the text below:<br/>
              <code>certutil -addstore -enterprise -f "Root" c:\DigiCertGlobalRootCA.crt</code>
          </li>

          <li>
            <p class="govuk-body">Right click in the Command Prompt window and select 'Paste'. Press return.</p>
          </li>
          <li>
            <p class="govuk-body">Follow the same steps for 'GeoTrust RSA CA 2018'. You can download it
              from <%= link_to "https://www.digicert.com/digicert-root-certificates.htm#intermediates", "https://www.digicert.com/digicert-root-certificates.htm#intermediates" %></p>
          </li>
        </ol>
        <p class="govuk-body">You should now be able to select the right certificate when you try connecting to GovWifi again.</p>
        <p class="govuk-body">Ask your local IT team if you need help downloading or installing the certificate.</p>
      </main>
    </div>
  </div>
</div>
