---
title: Connect to GovWifi using an iPhone or iPad - GovWifi
description: Follow these instructions to connect your iPhone or iPad to GovWifi
---

<div class="govuk-width-container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "Connect an iPhone or iPad" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial '/shared/support/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect to GovWifi using an iPhone or iPad</h1>
        <h2 class="govuk-heading-m">Instructions</h2>
        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %>, follow the steps below. Depending on your device, you may need to scroll down to see all the fields.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Go to wifi settings and select <strong>GovWifi</strong>.</p>
            <%= image_tag "troubleshooting/ios-step-1.jpg", class: "img-fluid", alt: "Screenshot of WiFi credentials input on iOS" %>
          </li>
          <li><%= partial 'shared/copy/password_instructions' %></li>
          <li>
            <p class="govuk-body">You'll be asked to confirm that the network presents the correct certificate. This protects you against fake networks which may harm your privacy.</p>
            <p class="govuk-body">The correct certificate is called <strong>wifi.service.gov.uk</strong> and is issued by <strong>GeoTrust RSA CA 2018</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>More Details</strong> and scroll down.</p>
            <p class="govuk-body govuk-!-margin-top-7">Check that the SHA-1 Fingerprint matches <strong>37 CE B5 7A 3F 38 EB 7C 66 A2 4E 90 BB 11 71 D7 BC 4D 65 1A</strong>.
            </p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Certificate</strong> in the top left to go back to the previous screen.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Trust</strong> in the top right to connect to GovWifi.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>

        <h2 class="govuk-heading-m">Support</h2>
        <p class="govuk-body">If your device shows the message 'Not trusted', it means your phone doesn't recognise this wifi network yet. Check that the certificate is called wifi.service.gov.uk and that it is issued by GeoTrust RSA CA 2018</p>

        <p class="govuk-body">If it is, select Trust so your phone recognises the wifi network.</p>
      </main>
    </div>
  </div>
</div>
