---
title: Connect to GovWifi using a Blackberry - GovWifi
description: Follow these instructions to connect your Blackberry to GovWifi
---

<div class="govuk-width-container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "Connect a Blackberry" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial '/shared/support/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect to GovWifi using a Blackberry</h1>
        <p class="govuk-body">If your device was made before October 2016, you're probably running the BlackBerry operating system (OS). Follow these instructions to connect to GovWifi.</p>

        <h2 class="govuk-heading-m">Instructions</h2>
        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %>, follow the steps below. Depending on your device, you may need to scroll down to see all the fields.</p>
        <ol class="govuk-list govuk-list--number">
          <li>
            <p class="govuk-body">Open your wifi settings. A list of wifi networks appears.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>GovWifi</strong>. A settings menu appears.</p>
            <%= image_tag "troubleshooting/blackberry-step-2.jpg", alt: 'Screenshot of the WiFi authentication prompt on Blackberry', class: "img-fluid" %>
          </li>
          <li>
            <%= partial 'shared/copy/password_instructions' %>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Advanced Options</strong></p>
            <%= image_tag "troubleshooting/blackberry-step-4.jpg", alt: 'Screenshot of Wifi authentication prompt with advanced options enabled on Blackberry', class: "img-fluid" %>
          </li>
          <li>
            <p class="govuk-body">Scroll down. For <strong>Security Sub Type</strong>, select <strong>PEAP</strong>.</p>
            <%= image_tag "troubleshooting/blackberry-step-5.jpg", alt: 'Screenshot of WiFi "Security Sub Type" dropdown options on Blackberry', class: "img-fluid" %>
          </li>
          <li>
            <p class="govuk-body">For <strong>CA Certificate</strong>, select <strong>DigiCert Global Root CA</strong>.</p>
          </li>
          <li>
            <p class="govuk-body">Select <strong>Connect</strong> on the top right of the screen.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>
        <p class="govuk-body"><strong>Support</strong></p>
        <p class="govuk-body">You may get a message that says 'Wi-Fi Connection Status, Attempt 1 of 3, Connecting to network' and another that says ‘Acquiring IP address'.  You don't need to do anything.</p>

        <%= image_tag "troubleshooting/blackberry-step-7-a.jpg", class: "img-fluid", alt: "Screenshot of WiFi connection status on Blackberry" %>
        <%= image_tag "troubleshooting/blackberry-step-7-b.jpg", class: "img-fluid", alt: "Screenshot of WiFi connection update on Blackberry" %>

        <h2 class="govuk-heading-m">BlackBerry Android</h2>
        <p class="govuk-body">If your BlackBerry device uses Android, follow the <%= link_to "Android instructions", "/support/connect-to-govwifi-using-an-android-device", class: "govuk-link" %>.</p>
      </main>
    </div>
  </div>
</div>
