---
title: Connect to GovWifi using a Mac, iMac or Macbook - GovWifi
description: Follow these instructions to connect your Mac, iMac or Macbook to GovWifi
---

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= partial '/shared/support/_sidebar' %>
    </div>

    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">Connect to GovWifi using a Mac, iMac or Macbook</h1>
      <h2 class="heading-medium">Instructions</h2>
      <p>Once you have a GovWifi <%= link_to "username and password", "/about-govwifi/connect-to-govwifi" %>, follow the steps below.  Depending on your device, you may need to scroll down to see all the fields.</p>
      <p>Step 1 - Select the wifi icon at the top right of your screen.</p>
      <p>Step 2 - Select <strong>GovWifi</strong>.</p>
      <%= image_tag "troubleshooting/mac-os-step-2.png", class: "img-fluid" %>
      <p>Step 3 - Enter the GovWifi username and password you received by email or text message.</p>
      <p>Your password is case sensitive. It's 3 words without spaces. The first letter of each word is capitalised.</p>
      <p>Step 4 - Select <strong>Join</strong>. You will be asked to confirm the network is genuine by checking the certificate.</p>
      <%= image_tag "troubleshooting/mac-os-step-4.png", class: "img-fluid" %>
      <p>Step 5 - Select <strong>Show Certificate.</strong></p>
      <%= image_tag "troubleshooting/mac-os-step-5.png", class: "img-fluid" %>
      <p>Step 6 - Check that the certificate is called <strong>wifi.service.gov.uk</strong> and it's issued by the <strong>GeoTrust DV SSL SHA256 CA.</strong></p>
      <p>Step 7 - If so, select <strong>Continue</strong>.</p>
      <p>Step 8 - Your device will ask you for your computer password to save these settings. This is the password you normally use to sign into your computer.</p>
      <p>You should now be connected to GovWifi.</p>
    </div>
  </div>
</div>
