---
title: Visitor access - GovWifi
description: Use GovWifi as a visitor to government or public sector organisations
---
<div class="container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "Connect to GovWifi as a visitor" } %>

  <div class="grid-row">
    <div class="column-one-third">
      <%= partial '/shared/support/_sidebar' %>
    </div>

    <div class="column-two-thirds column-minimum">
      <h1 class="heading-large">Connect to GovWifi as a visitor</h1>
      <p>
        If you do not have a <%= link_to "government or public sector email address", "/support/check-organisation-email-address" %>,
        you can connect to GovWifi as a visitor.
      </p>
      <p>
        Before using GovWifi, please read and accept our <%= link_to "privacy notice", "/privacy-notice" %> and <%= link_to "terms and conditions", "/terms-and-conditions" %>.
      </p>
      <h2>Get Started</h2>
      <p>
        You will need to contact the public sector staff member you are visiting
        to sponsor your access to GovWifi.
      </p>

      <p>The staff member will need to use their public sector email address to:</p>

      <ul class="list list-bullet">
        <li>send an email to <%= link_to "sponsor@wifi.service.gov.uk", "mailto:sponsor@wifi.service.gov.uk" %></li>
        <li>leave the subject line blank</li>
        <li>only include the email address of each visitor on separate lines within the email</li>
      </ul>

      <div class="govuk-inset-text">
        <%= link_to "Connect to GovWifi with your government or public sector email address", "/about-govwifi/connect-to-govwifi", class: "bold" %>
      </div>
    </div>
  </div>
</div>
