---
title: Connect to GovWifi using a Mac, iMac or Macbook - GovWifi
description: Follow these instructions to connect your Mac, iMac or Macbook to GovWifi
---

<div class="govuk-width-container">
  <%= partial "shared/product/breadcrumbs", locals: { page: "Connect a Mac, iMac or Macbook" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial '/shared/product/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect to GovWifi using a Mac, iMac or Macbook</h1>
        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/about-govwifi/connect-to-govwifi", class: "govuk-link" %>, follow the steps below. Depending on your device, you may need to scroll down to see all the fields.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p>Select the wifi icon at the top right of your screen.</p>
          </li>
          <li>
            <p>Select <strong>GovWifi</strong>.</p>
            <%= image_tag "troubleshooting/mac-os-step-2.jpg", class: "img-fluid", alt: "Screenshot of WiFi credentials prompt on macOS" %>
          </li>
          <li>
            <%= partial 'shared/copy/password_instructions' %>
          </li>
          <li>
            <p>Select <strong>Join</strong>. You will be asked to confirm the network is genuine by checking the certificate.</p>
            <%= image_tag "troubleshooting/mac-os-step-4.jpg", class: "img-fluid", alt: "Screenshot of Verify Certificate dialog on macOS" %>
          </li>
          <li>
            <p>Select <strong>Show Certificate.</strong></p>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Check that the certificate is called wifi.service.gov.uk and it's issued by GeoTrust RSA CA 2018.
              </strong>
            </div>
          </li>
          <li>
            <p>Select <strong>Continue</strong>.</p>
          </li>
          <li>
            <p>Your device will ask you for your computer password to save these settings.</p>
            <p class="govuk-inset-text">This is the password you normally use to sign into your computer.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>

        <p class="govuk-body">If you are using a device managed by your organisation, your permissions might be restricted and you might not be able to trust the new GovWifi certificate. Follow <%= link_to "these instructions", "/support/update-govwifi-server-certificate/#no-permissions-to-trust-certificate", class: "govuk-link" %> to get access.</p>
      </main>
    </div>
  </div>
</div>
