---
title: Connect to GovWifi using a Mac - GovWifi
description: Follow these instructions to connect your Mac to GovWifi
---

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial '/shared/product/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect to GovWifi using a Mac</h1>
        <p class="govuk-body">Once you have a GovWifi <%= link_to "username and password", "/connect-to-govwifi", class: "govuk-link" %>, follow the steps below. Depending on your device, you may need to scroll down to see all the fields.</p>

        <ol class="govuk-list govuk-list--number">
          <li>
            <p>Select the wifi icon at the top right of your screen.</p>
          </li>
          <li>
            <p>Select <strong>GovWifi</strong>.</p>
          </li>
          <li>
            <%= partial 'shared/copy/password_instructions' %>
            <%= image_tag "troubleshooting/mac-os-step-2.jpg", class: "img-fluid", alt: "Screenshot of WiFi credentials prompt on macOS" %>
          </li>
          <li>
            <p>Select <strong>Join</strong>. If your device is connecting to GovWifi for the first time, you'll be asked to confirm the network is genuine by checking the certificate.</p>
            <%= image_tag "troubleshooting/mac-os-step-4.jpg", class: "img-fluid", alt: "Screenshot of Verify Certificate dialog on macOS" %>
          </li>
          <li>
            <p>Select <strong>Show Certificate.</strong> Check that the certificate is called <strong>wifi.service.gov.uk</strong> and it's issued by <strong>GeoTrust TLS DV RSA Mixed SHA256 2020 CA-1</strong>.</p>
          </li>
          <li>
            <p>If the certificate details are correct, select <strong>Continue</strong>. If they are not, tell IT support and do not join the network.</p>
          </li>
          <li>
            <p>Your device will ask you for your computer password to save these settings. This is the password you normally use to sign into your computer.</p>
          </li>
        </ol>
        <p class="govuk-body">You should now be connected to GovWifi.</p>

        <h2 class="govuk-heading-m">Support</h2>
        <p class="govuk-body">If you're having problems, contact IT support for the building you're in.</p>

      </main>
    </div>
  </div>
</div>
