---
title: Ask a staff member to create your GovWifi account - GovWifi
description: GovWifi access for non-public sector staff
---

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial 'shared/product/_sidebar' %>
      </div>

      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Ask a staff member to create your GovWifi account</h1>
        <p class="govuk-body">
          If you cannot <%= link_to "sign up yourself", "connect-to-govwifi", class: "govuk-link" =%>, someone with a public sector email address can sign you up to GovWifi.
        </p>

        <h2 class="govuk-heading-m">1. Ask a public sector staff member to email GovWifi</h2>
          <p class="govuk-body">The staff member needs to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>send an email to <%= link_to "sponsor@wifi.service.gov.uk", "mailto:sponsor@wifi.service.gov.uk", class: "govuk-link" %> from their public sector email address</li>
          <li>leave the subject line blank</li>
          <li>only include your email address or mobile phone number in the email</li>
        </ul>

        <p class="govuk-body">They can sign other visitors up at the same time by adding other email addresses or mobile phone numbers on separate lines in the email.</p>
        <p class="govuk-body">Once this has been done, you'll get an email or text with your GovWifi username and password.</p>

        <h2 class="govuk-heading-m">2. Connect your device</h2>
        <p class="govuk-body">By connecting to GovWifi, you accept our <%= link_to "Privacy Notice", "privacy-notice", class: "govuk-link" =%> and <%= link_to "terms and conditions", "terms-and-conditions", class: "govuk-link" =%>.</p>
        <p class="govuk-body"> To connect your device, follow the guide for
          <%= partial 'shared/product/_links' %>
        </p>
        <p class="govuk-body">You can use the same username and password to connect all your devices to GovWifi.</p>
      </main>
    </div>
  </div>
</div>
