---
title: Connect to GovWifi - GovWifi
description: How to connect devices to GovWifi.
---

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
          <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Connect a device to GovWifi</h1>
        <p class="govuk-body">
          Create a GovWifi account and connect to a GovWifi network. Your device will connect to the wifi automatically in thousands of buildings that offer GovWifi.
        </p>
        <h2 class="govuk-heading-m">1. Create a GovWifi account</h2>
        <p class="govuk-body">You can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>text 'Go' to 07537 417 417</li>
          <li>send a blank email from your public sector email address to <%= link_to "signup@wifi.service.gov.uk", "mailto:signup@wifi.service.gov.uk", class: "govuk-link" %></li>
        </ul>
        <p class="govuk-body">We'll reply with your username and password. Do not share your details with anyone else.</p>
        <p class="govuk-body">If you have any problems signing up, you can <%= link_to "get help connecting", "get-help-connecting", class: "govuk-link" =%>.</p>
        <h2 class="govuk-heading-m">2. Connect your device</h2>
        <p class="govuk-body">By connecting to GovWifi, you accept our <%= link_to "Privacy Notice", "privacy-notice", class: "govuk-link" =%> and <%= link_to "terms and conditions", "terms-and-conditions", class: "govuk-link" =%>.</p>
        <p class="govuk-body"> To connect your device, follow the guide for
          <%= partial 'shared/product/_links' %>
        </p>
        <p class="govuk-body">You can use the same username and password to connect all your devices to GovWifi.</p>
        <div class="govuk-inset-text">
          If you manage IT services in a public sector organisation and want to provide GovWifi in your buildings, see how to <%= link_to "offer GovWifi", "https://docs.wifi.service.gov.uk/", class: "govuk-link" %>.
        </div>
      </main>
    </div>
  </div>
</div>
