---
title: Privacy notice - GovWifi
description: GovWifi privacy notice - how we collect and process your data.
---

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third sticky">
        <%= partial 'shared/privacy_notice_sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Privacy notice for GovWifi</h1>
        <p class="govuk-body">
          Last updated: 8 November 2023
        </p>
   <p class="govuk-body">This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR).</p>
        <h2 class="govuk-heading-m" id="who-we-are">Purpose</h2>
        <p class="govuk-body">
          GovWifi is a secure wifi service. It provides wifi access within government, local authorities and emergency service buildings.

        </p>
        <p class="govuk-body">
    GovWifi is provided by Cabinet Office to deliver guest wifi service across government departments, local authorities and emergency services. As this service is live, we continuously conduct qualitative and quantitative user research. We also carry out surveys and user research to improve the service for end users and admins to ensure it is user-centred and accessible. 

        </p>
        <p class="govuk-body">
          Cabinet Office is the data controller for GovWifi. Cabinet Office determines how and why personal data is processed.
          <%= link_to "Read the Cabinet Office’s entry in the Data Protection Public Register", "https://ico.org.uk/ESDWebPages/Entry/Z7414053", class: "govuk-link" %> for more information.
        </p>
        <h2 class="govuk-heading-m" id="what-data-we-need">Your data</h2>
        <p class="govuk-body">
        To ensure GovWifi works effectively we collect the following data:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>email address or mobile telephone number</li>
          <li>number of authentication attempts you make</li>
          <li>activation and login dates</li>
       <li>identification of the buildings in which you access GovWifi</li>
        </ul>
   
         <p class="govuk-body">For GovWifi administrators we also collect:</p>
   <ul class="govuk-list govuk-list--bullet">
          <li>names of all administrators registered in your organisations GovWifi admin account</li>
<li>email addresses for all administrators registered in your organisations GovWifi admin account</li>
<li>last date an administrator logged into the admin tool and the total number of logins</li>
     </ul>

      <h2 class="govuk-heading-m" id="participating-user-research">If participating in user research</h2>
<p class="govuk-body">
       We may collect the following items for GovWifi user research from admins and end users:

        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full name</li>
          <li>email address</li>
          <li>organisation</li>
       <li>department</li>
 <li>role</li>
 <li>place of work</li>
 <li>video recordings</li>
 <li>types of devices used to connect to GovWifi</li>
</li>identify the buildings in which you access GovWifi</li></ul>
<p class="govuk-body">We require this information to ensure that our research is varied and representative of our user groups.</p> 

<p class="govuk-body">This data gives us insights from end users and organisations to help us identify ways we can improve GovWifi. It allows us to capture pain points and to broaden our knowledge of how the service is used and seen.</p> 


        <h2 class="govuk-heading-m" id="legal-basis">Legal basis for processing your data</h2>

        <p class="govuk-body">
          The legal basis for processing your personal data is:
        </p>
    
       <p class="govuk-body">
Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller. In this case that is the running of wifi services.
          </p>
  <h2 class="govuk-heading-m" id="user-research">For user research</h2>
     <p class="govuk-body">The initial use of personal data to send surveys (when data subjects sign up for GovWifi credentials) is on a lawful basis of legitimate interest.</p>

<p class="govuk-body">All other processing for user research is on a lawful basis of consent.</p>

   <h2 class="govuk-heading-m" id="recipients">Recipients</h2>
 
<p class="govuk-body">Your personal data may be shared with other government departments in specific circumstances such as investigations: </p>
 <ul class="govuk-list govuk-list--bullet">
          <li>legal investigations</li>
  <li>cyber Security investigations</li>
  <li>HR employment investigations</li>
  <li>if required by court order</li></ul>

<p class="govuk-body">We will not:</p>
<ul class="govuk-list govuk-list--bullet">
          <li>sell or rent your data to third parties</li>
<li>share your data with third parties for marketing purposes</li>
<li>share data that monitors or tracks employees</li></ul>

<h2 class="govuk-heading-m" id="user-research-data">Data stored for user research</h2>
 
<p class="govuk-body">As your personal data will be stored on our IT infrastructure it will also be shared with our data processors who provide email, document management and storage services, as well as our research supplier.</p>
 
<h2 class="govuk-heading-m" id="data-retention">Data retention</h2>

<p class="govuk-body">We need to process personal data to let users in government, arm’s length bodies and public sector organisations stay connected to a secure wifi service while visiting other departments and moving between buildings.</p>
<p class="govuk-body">We need to know when you last used GovWifi so we can delete your account if it has not been used for 12 months.</p>
<p class="govuk-body">We need to know your email address or mobile phone number so that we can notify you about major changes to the service or changes to the terms and conditions. For example, if the current inactive account deletion period of 12 months is reduced.</p>
<p class="govuk-body">We will keep connection log data for a maximum of 6 months.</p>

<h2 class="govuk-heading-m" id="user-research-data-retention">User research data retention</h2>
<p class="govuk-body">Recruitment and consent forms are kept for 24 months.</p>

<p class="govuk-body">Any recordings are deleted when the research and design activities are finished.</p>

<p class="govuk-body">Data with our research supplier is kept for 3 months.</p>
 

<h2 class="govuk-heading-m" id="your-rights">Your rights</h2>
 
<ul class="govuk-list govuk-list--bullet">
          <li>you have the right to request information about how your personal data is processed, and to request a copy of that personal data</li>
 
<li>you have the right to request that any inaccuracies in your personal data are rectified without delay</li>
 
<li>you have the right to request that any incomplete personal data is completed, including by means of a supplementary statement</li>
 
<li>you have the right to request that your personal data is erased if there is no longer a justification for them to be processed</li>
 
<li>you have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted</li>
 
<li>you have the right to object to the processing of your personal data where it is processed for direct marketing purposes</li>
 
<li>you have the right to object to the processing of your personal data where it has been processed on a legal basis of the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller</li>
  
<li>you have the right to withdraw consent to the processing of your personal data at any time</li>
 
<li>you have the right to request a copy of any personal data you have provided, and for this to be provided in a structured, commonly used and machine-readable format</li></ul>
 
 
<h2 class="govuk-heading-m" id="international-transfers">International transfers</h2>
 

<p class="govuk-body">As your personal data is stored on our corporate IT infrastructure and shared with our data processors, it may be transferred and stored securely outside the UK. Where that is the case it will be subject to equivalent legal protection through an adequacy decision, reliance on Standard Contractual Clauses, or reliance on a UK International Data Transfer Agreement.</p>
 
<h2 class="govuk-heading-m" id="complaints">Complaints</h2>
  <p class="govuk-body">
  If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator.  The Information Commissioner can be contacted at:  
        </p>
        <p class="govuk-body">
   Information Commissioner's Office
          <br/>
          Wycliffe House
          <br/>
          Water Lane
          <br/>
          Wilmslow
          <br/>
          Cheshire
          <br/>
          SK9 5AF
        </p>
        <p class="govuk-body">
          Email
          <br/>
          <%= link_to "icocasework@ico.org.uk", "mailto:icocasework@ico.org.uk", class: "govuk-link" %>
        </p>
      
        <p class="govuk-body">
          Telephone
          <br/>
          0303 123 1113
        </p>
    
    <p class="govuk-body">
         Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.
        </p>



        <h2 class="govuk-heading-m" id="how-to-contact-us">Contact us</h2>
        <p class="govuk-body">
          The data controller for your personal data is Cabinet Office. The contact details for the data controller are: 

        </p>
     
<p class="govuk-body">
          Cabinet Office
          <br/>
          70 Whitehall
          <br/>
          London
          <br/>
          SW1A 2AS
        </p>

 <p class="govuk-body">
          Alternatively you can use this online form to <%= link_to "contact Cabinet Office", "https://www.gov.uk/guidance/contact-the-cabinet-office", class: "govuk-link" %>
        </p>

        <p class="govuk-body">
       Contact the data controller’s Data Protection Officer: <%= link_to "DPO@cabinetoffice.gov.uk", "mailto:DPO@cabinetoffice.gov.uk", class: "govuk-link" %>
        </p>
        <p class="govuk-body">
        The Data Protection Officer provides independent advice and monitoring of Cabinet Office’s use of personal information.</p>
      
      </main>
    </div>
  </div>
</div>
