---
title: Help and support - GovWifi
description: Help and support connecting to GovWifi
---

<div class="govuk-width-container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "GovWifi support" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial 'shared/support/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">GovWifi support</h1>
        <h2 class="govuk-heading-m">User support</h2>
        <p class="govuk-body">
          Use the left-hand navigation bar to view our device specific instructions for <%= link_to "connecting to GovWifi",
          "/about-govwifi/connect-to-govwifi/", class: "govuk-link" %> for the first time.
        </p>
        <p class="govuk-body">
          For additional support, please contact the IT support desk in your building. They will be able to check your device and also ensure the local network is working.
        </p>
        <h4 class="govuk-heading-s">Username or password reminder</h4>
        <p class="govuk-body">
          If you need a GovWifi username or password reminder, please send a blank email from the email address you registered with to <%= link_to "signup@wifi.service.gov.uk", "mailto: signup@wifi.service.gov.uk", class: "govuk-link" %>.
        </p>
        <h4 class="govuk-heading-s">Account no longer active or failing to connect</h4>
        <p class="govuk-body">
          Credentials are deleted if you haven't used GovWifi for 12 months. To re-activate your account, please
          send a blank email from the email address you registered with
          to <%= link_to "signup@wifi.service.gov.uk", "mailto: signup@wifi.service.gov.uk", class: "govuk-link" %>.
        </p>
        <h4 class="govuk-heading-s">Check GovWifi service status</h4>
        <p class="govuk-body">
          You can check the <%= link_to "status of our central authentication service", "https://status.wifi.service.gov.uk", class: "govuk-link" %>.
        </p>
        <p class="govuk-body">
          If our service is operating normally and you are still having difficulty connecting to GovWifi, please contact the IT support desk in your building.
        </p>
        <h2 class="govuk-heading-m">Network administrator support</h2>
        <p class="govuk-body">
          We provide network administrator guidance on how to install and manage GovWifi in your organisation in our <%= link_to "technical documentation", "https://docs.wifi.service.gov.uk/", class: "govuk-link" %>.
        </p>
      </main>
    </div>
  </div>
</div>
