---
title: Help and support - GovWifi
description: Help and support connecting to GovWifi
---

<div class="govuk-width-container">
  <%= partial "shared/support/breadcrumbs", locals: { page: "GovWifi support" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= partial 'shared/support/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">GovWifi support</h1>
        <h2 class="govuk-heading-m">Get help connecting to GovWifi</h2>
        <p class="govuk-body">
          Use the navigation bar to view our device specific instructions for <%= link_to "connecting to GovWifi",
          "/about-govwifi/connect-to-govwifi/", class: "govuk-link" %> for the first time.
        </p>
        <p class="govuk-body">
          You can also contact IT support in your building. They can check your device and make sure the local network is working.
        </p>
        <h4 class="govuk-heading-s">Get a username or password reminder</h4>
        <p class="govuk-body">
          If you need a GovWifi username or password reminder, send a blank email from the email address you registered with to <%= link_to "signup@wifi.service.gov.uk", "mailto: signup@wifi.service.gov.uk", class: "govuk-link" %>
        </p>
        <h4 class="govuk-heading-s">Check GovWifi service status</h4>
        <p class="govuk-body">
          If you're having trouble connecting to GovWifi, check our <%= link_to "status page", "https://status.wifi.service.gov.uk", class: "govuk-link" %> to see if there are any problems.
        </p>
        <p class="govuk-body">
          If there are not any problems, contact IT support in the building you're in.
        </p>
        <h2 class="govuk-heading-m">Get help if you're a GovWifi administrator</h2>
        <p class="govuk-body">
          See our guidance on <%= link_to "how to install and manage GovWifi in your organisation", "https://docs.wifi.service.gov.uk/", class: "govuk-link" %>.
        </p>
      </main>
    </div>
  </div>
</div>
